<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://fapl.ru">Football news</a></li>
      <li><a href="http://pactalom.net/uploads/posts/2011-04/1303446123_nof8mymeao08_87269_pl.jpg">Tits</a></li>
    </ul>
  </nav>
</footer>